# Dependencies
node_modules
/.pnp
.pnp.js

# Production build
dist
dist-ssr

# Environment / local
*.local
.env
.env.*

# TypeScript
tsconfig.tsbuildinfo

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
